.iu-back {
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.login-page {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
}
.icon {
	position: absolute;
}
.logo-2 {
	margin-top: -31px;
}
.icon-user {
	top: 250px;
	left: 58px;
}
.icon-pass {
	top: 313px;
	left: 58px;
}
.wrapper {
	opacity: 1;
	position: relative;
	width: 430px;
	padding: 2rem 1rem;
	margin: auto;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 20px 35px rgb(38, 38, 38);
}

@media screen and (max-width: 700px) {
	.wrapper {
		width: 370px;
	}
}

.h1-login {
	font-size: 2rem;
	color: darkblue;
	margin-bottom: 1.2rem;
}

.input-login {
	width: 85%;
	outline: none;
	border: 1px solid rgb(0, 0, 0);
	padding: 13px 20px 13px 50px;
	margin-bottom: 10px;
	border-radius: 20px;
	background: #cbe7ff;
}

.login-button {
	font-size: 1rem;
	margin-top: 0.7rem;
	padding: 10px 0;
	border-radius: 20px;
	outline: none;
	border: none;
	width: 85%;
	color: white;
	cursor: pointer;
	background: rgb(14, 92, 148);
}

.login-button:hover {
	background: rgb(8, 81, 109);
}
.link {
	text-decoration: none;
}
.credits {
	margin-left: 10px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	z-index: 100;
	margin-bottom: 10px;
}

.credits p {
	font-size: 15px;
	margin-bottom: 2px;
}

/* Style for the social icons */
.contact-icons a {
	display: inline-block;
	margin-right: 10px;
}

.contact-icons a i {
	font-size: 30px;
}

.contact-icons span {
	font-size: 15px;
	margin-right: 10px;
}
.full {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
