/* -------------------------------
						sidebar
------------------------------- */
.examcellsidebar {
	background-color: #2a3042;
	height: 100vh;
	width: 270px;
	flex-shrink: 0;
	font-size: 15px;
	overflow: auto;
	left: 0;
}
.examcell-nav {
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	flex: 1 1 auto;
	min-height: 0;
	position: relative;
}
.examcell-nav header {
	background-color: #2b2d31;
	position: relative;
	font-weight: 500;
	padding: 12px 16px;
	box-sizing: border-box;
	z-index: 3;
	transition: background-color 0.2s linear;
	box-shadow: 0 1px 0 #202124, 0 1.5px 0 #202124, 0 2px 0 #202124;
}
.examcell-nav header:hover {
	background-color: #35373c;
}
.div {
	text-decoration: none;
	color: #ebeced;
}
.arrow {
	position: absolute;
	right: 5px;
}
.link {
	text-decoration: none;
}
/* -------------------------------
				Exam cell content
------------------------------- */
.main-content {
	box-sizing: border-box;
	height: calc(100vh - 95px);
	width: calc(100vw - 270px);
}
.main-content-table {
	box-sizing: border-box;
	height: calc(100vh - 180px - 58px);
	width: calc(100vw - 279px);
	overflow: auto;
	padding-right: 8px;
	white-space: nowrap;
}
.main-content-table.for-marks {
	box-sizing: border-box;
	height: calc(100vh - 203px - 78px - 43px);
	width: calc(100vw - 280px);
	overflow: auto;
	padding-right: 8px;
	white-space: nowrap;
}

.table-my {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

.table-my th {
	border-top: 1px solid #b3bac2;
	border-bottom: 1px solid #b3bac2;
	border-right: 1px solid #b3bac2;
}

.table-my td {
	border-bottom: 1px solid #b3bac2;
	border-right: 1px solid #b3bac2;
}

.table-my th:first-child,
.table-my td:first-child {
	border-left: 1px solid #b3bac2;
}

.table-my thead th {
	position: sticky;
	top: 0;
}

.table-my td {
	cursor: pointer;
}
.btn-my {
	background-color: #4343c4;
	border: #4343c4;
}
.btn-my:hover {
	background-color: #33336b;
	border: #33336b;
}
.form-nonselect {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#course-code {
	padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}
.checkbox {
	cursor: default !important;
}
#headerCheckbox {
	cursor: pointer;
}
.main-content-table::-webkit-scrollbar {
	height: 12px;
	background-color: #f5f5f5;
}

.main-content-table::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
	border: 2px solid #f5f5f5;
}

.main-content-table::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.main-content-table::-webkit-scrollbar-thumb:active {
	background-color: #666;
}
.main-content-table::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

.main-content-table::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 10px;
	border: 2px solid #f5f5f5;
}

.main-content-table::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.main-content-table::-webkit-scrollbar-thumb:active {
	background-color: #666;
}
